body {
    background-color: rgb(34, 34, 34);
    margin: 0;
    padding: 0;
}

.container {
    width: 80vw;
    height: 80vh;
    padding: 10vh 10vw;
}

.room {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    -webkit-transition: .4s;
    transition: .4s;
}

.room p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.light {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

.bulb {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.switchplate {
    width: 40%;
    height: 100%;
    background-color: rgb(223, 223, 223);
    float: right;
    position: relative;
}

.switchplate p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 98px;
    left: 30%;
    top: 40%;
    transform: rotate(270deg);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50px;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 80px;
    width: 80px;
    left: 9px;
    bottom: 9px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .toggle {
    background-color: rgb(148, 148, 148);
}

input:focus + .toggle {
    box-shadow: 0 0 1px rgb(148, 148, 148);
}

input:checked + .toggle:before {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
}